/* Basic Layout */
html,
body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

video {
  z-index: -1;
  position: fixed;
}

/* Navigations */
.top ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: white;
}

li {
  list-style: none;
}

.categories li {
  border-left: 5px solid rgba(171, 145, 19, 0.5);
  padding: 20px;
}

.categories li:hover {
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(171, 145, 19, 0.5) 100%
  );
}

.foot-nav ul {
  color: white;
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  bottom: 0;
  width: 100%;
}

.foot-nav ul li {
  border-left: 5px solid rgba(255, 255, 255, 0.1);
  border-right: 5px solid rgba(255, 255, 255, 0.1);
  padding: 20px;
}

.footer-links:hover {
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgb(128, 128, 128, 0.4) 100%
  );
}

#copyright {
  border: none;
}

a {
  color: white;
  text-decoration: none;
}

a:visited {
  color: white;
  text-decoration: none;
}

/* Banner */

/* create floating animation */
@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-30px);
  }
  100% {
    transform: translateY(0px);
  }
}

.banner {
  animation: float 3s ease-in-out infinite;
  position: fixed;
  margin-top: 20vh;
}

/* create block element on top for shading  */
.banner::after {
  display: block;
  position: relative;
  background-image: linear-gradient(
    35deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0) 25%,
    rgba(255, 255, 255, 0.25) 50%,
    rgba(0, 0, 0, 0) 75%,
    rgba(0, 0, 0, 0) 100%
  );
  margin-top: -350px;
  margin-left: 80px;
  height: 250px;
  width: 50%;
  content: "";
}
